.fh {
    /* min-height: 100vh; */
    min-height: 3000px;
}

.fw {
    width: 100%;
}

/* Desktop Styles */
@media (min-width: 768px) {
    .mb {
        display: none;
    }s

    .content {
        width: 50%;
        min-width: 768px;
        margin: 0 auto;
    }
}

/* Mobile Styles */
@media (max-width: 767px) {
    .mb {
        display: block;
    }

    .content {
        width: 100%;
    }
}