.confirmed-w50 > h1 {
    color: #f4ce14;
    font-family: 'Markazi Text', serif;
    font-weight: bold;
    line-height: 0;
    padding: 0 0 5px 0;
}

.confirmed-w50 {
    text-align: center;
    padding: 50px 0 0 0;
    height: 80vh;
}

/* Desktop Styles */
@media (min-width: 768px) {
    .confirmed-w50 {
        width: 50%;
        min-width: 768px;
        margin: 0px auto;
    }
}

/* Mobile Styles */
@media (max-width: 767px) {
    .confirmed-w50 {
        width: 100%;
    }
}