
.hero {
    width: 100%;
    background-color: #495e57;
    margin: 10px 0 0 0;
}

.hero-image {
    width: 45%;
    float: right;
}

.hero-disc > h1 {
    color: #f4ce14;
    font-family: 'Markazi Text', serif;
    font-weight: bold;
    line-height: 0;
    padding: 0 0 5px 0;
}

.hero-disc > h2 {
    color: #edefee;
    font-family: 'Markazi Text', serif;
    line-height: 0;
}

.hero-disc > p {
    color: #edefee;
    font-family: 'Karla', sans-serif;
}

.hero-button {
    background-color: #f4ce14;
    border-radius: 15px;
    border: none;
    padding: 2% 4% 2% 4%;
    font-weight: bold;
}

.hero-button:hover {
    background-color: #edefee;
    color: #495e57;
}

.hero-image {
    align-self: center;
    object-fit: cover;
    border-radius: 20px;
}

/* Desktop Styles */
@media (min-width: 768px) {
    .hero-w50 {
        width: 50%;
        min-width: 768px;
        margin: 0 auto;
    }

    .hero-cp {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }

    .hero-disc {
        float: left;
    }

    .hero-disc > h1 {
        font-size: 64px;
    }
    
    .hero-disc > h2 {
        font-size: 40px;
    }
    
    .hero-disc > p {
        font-size: 18px;
        width: 245px;
    }

    .hero-button {
        font-size: 18px;
    }

    .hero-image {
        width: 260px;
        height: 300px;
        position: relative;
        top: 30px;
        right: 10px;
    }
}

/* Mobile Styles */
@media (max-width: 767px) {
    .hero-w50 {
        width: 100%;
    }

    .hero-cp {
        width: 50%;
        display: inline-block;
        vertical-align: top;
    }

    .hero-disc {
        float: right;
        padding: 10%;
    }

    .hero-disc > h1 {
        font-size: 6.4vw;
    }
    
    .hero-disc > h2 {
        font-size: 4vw;
    }
    
    .hero-disc > p {
        font-size: 2vw;
        width: 27vw;
    }

    .hero-button {
        font-size: 2vw;
    }

    .hero-image {
        width: 33.8vw;
        height: 39vw;
        position: relative;
        top: 4vw;
        right: 4vw;
    }
}